#logo {
    padding: 5px;
    margin-top: 5px;
};

#navbarNavDropdown {
    margin-bottom: 5px;
}
<<<<<<< HEAD
=======

.navbar-brand {
    font-size: 2.25rem;
}
>>>>>>> 04a6590e8f7fb0f94e41f9b49eab62ff7db1eba3
